*{
    margin:0 ;
    padding: 0;
}
main{
    height: 100vh;
    width: 100%;
    background-color: #50C878;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box1,.box3{
    width: 30%;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
}
.box1{
    justify-content: center;
    background-color: black;
}
.icons{
    height: 250px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.play{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 100%;
}
.icons button{
    background-color: white;
    cursor: pointer;
}
.b1,.b2{
    height: 90px;
    width: 60%;
    display: flex;
    align-items: center;
    color: black;
}
.b1{
    justify-content: center;
}
.b2{
    justify-content: space-around;
}
.box2{
    width: 25%;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.boxx{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.boxx1,.boxx2{
    width: 50%;
    height:200px;
    /* border: 2px solid black; */
    text-align: center;
}
.boxx1{
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.boxx2{
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.head{
    border-bottom: 4px solid black;
    width: 80%;
    margin: 0px auto;
}
#comp,#user{
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    font-size: 26px;
    font-weight: bold;

}
.bigbox::after{
    content: "";
    background-color: black;
    opacity: 0.4;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.menu{
    width: 60%;
    height: 450px;
    background-image: url(./images/rocks.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 15%;
    left: 22%;
    z-index: 1; 
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu h2{
    color: red;
}
.start{
    width: 600px;
    height: 400px;
    margin: 0px auto;
}
.button{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px auto;
}
.button input{
    height: 30px;
    width: 80%;
}
.button button{
    height: 25px;
    width: 100px;
    cursor: pointer;

}
.logo{
    width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0px auto;
}
.logo img{
    width: 80%;
    height: 100px;

}
.box3{
    background: #000;
    color: white;
    flex-direction: column;
    justify-content: space-around;
}
.SBoard{
    width: 100%;
    height: 300px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ur,.cr{
    height: 250px;
    width: 45%; 
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.fr{
    width: 80%;
    height: 40px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#ufr,#cfr{
    height: 150px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    font-size: 3.4em;
    text-align: center;
    margin: 0px auto;

}
#win{
    font-size: 24px;
    font-weight: 600;
    color: green;
}
.rules{
    width: 100px;
    height: 25px;
    background-color: black;
    color: white;
    margin-bottom: 4px;
}

